.rootLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  background: rgb(221, 208, 200);
  background: linear-gradient(
    90deg,
    rgba(221, 208, 200, 1) 0%,
    rgba(50, 50, 50, 1) 95%
  );
  flex: 1 1 auto;
}
