.rootLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  flex: 1 1 auto;
  padding: 2rem;
}
