.aboutMovie {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.aboutMovie img {
  width: 30%;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 0 2em 0 2em;
  width: 50%;
}

.description h2 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.00735em;
  text-transform: none;
  color: #f5c518;
}

.releaseInfo,
.genre {
  display: flex;
  flex-direction: column;
}

.genre {
  padding-top: 2em;
}

.releaseInfo h2,
.genre h2,
.rating h2,
.type h2 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: 0.00735em;
  text-transform: none;
  color: #f5c518;
}

.moreDetails {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.trailerImages {
  padding-top: 3em;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.imagesAndInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}

.ratingTypeList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

.rating,
.type {
  display: flex;
  justify-content: space-between;
}

.starAndRating {
  display: flex;
  justify-content: space-between;
}

.starAndRating p {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.5rem;
}

.type p {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.5rem;
}

.list button {
  background-color: #d5c8c822;
  color: white;

  border-radius: 10px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.images {
  background-color: #d5c8c822;
  color: white;

  height: 40%;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: 0.00735em;
  text-transform: none;
}

.images:hover {
  background-color: #9b949422;
}

.list button:hover {
  background-color: #9b949422;
}
