.featuredSection {
  padding-top: 5rem;
}

.topMoviesHeader {
  display: flex;
  height: 1%;
}

.verticalSvg {
  height: 2.5em;
  width: 1.5em;
}

.arrowSvg {
  height: 1.8em;
  width: 1.8em;
}

.arrowSvg:hover {
  color: #f5c518;
}

.featuredSection h2 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.00735em;
  text-transform: none;
  color: #f5c518;
}

.topMovies {
  padding-top: 1rem;
}

.topMovies h3 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.00735em;
  text-transform: none;
  color: white;
  padding-bottom: 1rem;
}

.fromYourList h3 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.00735em;
  text-transform: none;
  color: #323232;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.signInFirst {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.signInFirst h4 {
  font-weight: 700;
}
