.listHeader {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.00735em;
  text-transform: none;
  color: #f5c518;
}

.listIsEmpty {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listIsEmpty h2 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.00735em;
  text-transform: none;
  color: white;
}

.listIsEmpty p {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.00735em;
  text-transform: none;
  color: white;
}

.mainContent {
  display: flex;
  flex-wrap: wrap;
  padding: 3em;
  align-items: center;
  justify-content: center;
}
