.featuredSection {
  padding-top: 5rem;
}

.arrowSvg {
  height: 1.8em;
  width: 1.8em;
}

.arrowSvg:hover {
  color: #f5c518;
}

.featuredSection h2 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.00735em;
  text-transform: none;
  color: #f5c518;
}
