.myMovies {
  display: inline-block;
  width: 20%;
  margin: 1rem;
}

.card {
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  overflow-y: auto;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  height: 300px;
}

.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container button {
  color: white;
  font-weight: 600;
  background-color: #d5c8c822;
  padding: 0.5em 0 0.5em 0;
  width: 100%;
  margin: 0.5em;
  border: none;
  border-radius: 10px;
}

.container button:hover {
  background-color: #ada9a922;
}
.container button:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0;
}
.container button:hover {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0;
}

.container p {
  font-size: 0.8em;
  font-weight: 600;
  color: ivory;
}
