.fromYourList {
  padding-top: 3rem;
}
.fromYourList h3 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.00735em;
  text-transform: none;
  color: white;
}

.messageUnderMyList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.messageUnderMyList h4 {
  font-weight: 700;
  color: #f5c518;
}

.messageUnderMyList p {
  color: white;
}

.messageUnderMyList button {
  color: white;
  font-weight: 600;
  background-color: #d5c8c822;
  padding: 0.5em 0 0.5em 0;
  width: 20%;
  margin: 0.5em;
  border: 2px solid white;
  border-radius: 10px;
}

.messageUnderMyList button:hover {
  background-color: #ada9a922;
}

.verticalSvg {
  height: 2.5em;
  width: 1.5em;
}

.myMoviesHeader {
  display: flex;
  height: 1%;
}
